/** ««« INFO »»» 
   .info-user --> classe pai 
   .info-user--password ou .iu--password --> filho  onde o .iu significa info-user
   .iu-p--change --> neto onde iu-p significa info-user--password  
*/ 

ion-icon{
    pointer-events: none !important;
}
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto 30px;
}
.final-checkout{
    color: #363636;
}

 /* fc = final-checkout */
.fc--main-header{
    width: 100%;
    background-color: #fff;
    padding: .5rem;
    border-bottom: 1px solid #ddd;
}

.fc--main-header > .flex-c-vert{
    justify-content: space-between;
    padding: 0 50px;
}


.logotype img {
    width: 30px;
    margin-right: 8px;
}
.logotype span{
    font-weight: 600;
}
.user-info{
    position: relative;
    padding: .25rem .7rem .25rem .5rem;
    cursor: pointer;
}

.user-info:hover{
    background-color: #f5f5f7;
    border-radius: 4px;

}

.user-info > img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(157, 153, 151);
    border: 1px solid #cecece;
    margin-right: 8px;    
}

.user-info .user-name{
    font-weight: 600;
    color: #252525;
    font-size: .95rem;
}

.user-menu{
    display: flex;
    border-radius:5px;
    min-width: 17rem;
    padding: 20px 0;
    box-shadow: 0px 1px 8px 11px #00041203;
    flex-direction: column;
    max-height: 31.25rem;
    border: 1px solid #f9faf9;
    max-width: 25rem;
    position: absolute;
    top: 55px;
    left: -50%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    background-color: #fff;
    transition: all .3s ease-in-out;
}

.user-menu.open{
    opacity: 1;
    z-index: 2;
    visibility: visible;
}

.user-list{
    padding: 0px 12px 10px;
}

.user-list:last-of-type{
   border-top: 1px solid #cfcfcf;
   padding-top: 10px;
}

.user-list li a{
    font-size: .88rem;
    padding: 5px 9px;
    margin-bottom: 3px;
}

.user-list li a:hover{
    background-color: #f5f5f7; 
    border-radius: 3px;
}

.user-menu .user-list:first-of-type li a span:first-of-type{
    font-size: 1.2rem;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.fc--second-header{
    padding: 20px 0 ;
    border-bottom: .025rem solid #dedede ;
    margin-bottom: 30px;
}

.fc--second-header a{
    width: 36px;
    height: 35px;
    border: 1px solid #babfc3;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-right: 12px;
}

.fc--second-header a .hydrated {
    height: 1rem;
}

.fc--second-header a:hover{
  background-color: #ecf0f8;
}

.fc--second-header h2{
    font-size: 1.12rem;
    font-weight: 600;
}

.payment-clicle{
    background-color: #fff;
    box-shadow: 0 0 0.3125rem #1718180d,0 0.0625rem 0.125rem #00000026;
    border-radius: .35rem;
    padding: 1.2rem;
    margin-bottom: 30px;
}

.payment-clicle h3{
    font-size: .94rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.payment-clicle p{
    color: #444;
    font-size: .82rem;
}
.payment-types{
    margin: 25px 0 15px 0;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    width: 100%;
}
.payment-types label{
    cursor: pointer;
    width:calc(100% - 30px);
    padding: 15px;
    border-radius:  5px 5px 0px 0px;
}
.payment-types label:hover {
    background-color: #f9fafb;   
}
.payment-types label.active{
    background-color: #ebf5fa;
}
.payment-types label:last-of-type{
    border-top: 1px solid #dfdfdf;
    border-radius:  0px 0px 5px 5px;
}

.payment-types input{
    appearance: none;
    background: radial-gradient(circle,#fff 100%,#fff 0);
    border: 0.125rem solid #c8c8c8;
    border-radius: 50%;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 15px;
    width: 15px;
    margin: 0.125rem;   
}

 .month-year-js input{
     position: relative;
     top: 2px;
 }

.payment-types input:checked {
    background: radial-gradient(circle,#02a95c 45%,#fff 0);
    border-color: #02a95c;
}

.payment-types input:hover:not(:disabled) , .payment-types label:hover input:not(:disabled) {
    box-shadow: 0 0 0 0.425rem #e6f6ef;
}
.payment-types label img{
    width: 23px;
    margin-left: 8px;
}
.payment-types--text{
    margin-left: 7px;
}

.payment-types--text span{
    color: #2c2c2c;
    font-size: .9rem;
    font-weight: 600;
}

.payment-types--text p{
    font-size: .815rem;
    margin-top: 2px;
}
.payment-types--text small, .plan-recomanded{
    padding: 4px 9px 5px;
    border-radius: 20px;
    font-weight: 600;
    margin-left: 4px;
    color: #111;
    font-size: .7rem;
    background-color: #e6f6ef;
    border: 1px solid #98c6cd;
}


.payment-types.p-way{
    border: none;
}
.payment-types.p-way label{
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    margin-bottom: 15px;
}
.payment-types.p-way .payment-types--text span{
  font-size: .94rem;
}

.fc--checkout-plan{
    box-shadow: 0 0 0.3125rem #1718180d,0 0.0625rem 0.125rem #00000026;
    padding: 20px 0;
    background-color: #fff;
    border-radius: .35rem;
}

.checkout-plan--header{
    padding: 0 18px;
    margin-bottom: 20px;
    
}

.checkout-plan--header h2{
    font-size: .9rem;
    line-height: 1.8;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    color: #3f3f3f;
    margin-bottom: 10px;
}

.checkout-plan--header a{
    font-size: .78rem;
    position: relative;
    top: 5px;
    color: #0c78c5;
    font-weight: 500;
}

.checkout-plan--header a:hover{
     text-decoration: underline;
}
.checkout-plan--text{
    padding: 0 18px;
}
.checkout-plan--text p{
    font-size: .8rem;
    line-height: 1.3;
    margin-bottom: 15px;
    display: none;
}
.checkout-plan--text p.open{
    display: block;
}
.plan-info--header{
    padding: 10px 18px;
    margin-top: 10px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    justify-content: space-between;
    cursor: pointer;
}
.plan-info--header span{
    font-size: .8rem;
}
.plan-header .hydrated{
    position: relative;
    top:2px
}

.plan-info--body{
    padding: 24px;
    background-color: #fafafa;
    border-bottom: 1px solid #dfdfdf;
}
.plan-info--body ul li{
    margin-bottom: 10px;
}
.plan-info--body ul li .hydrated{
    font-size: .4rem;
    color: #666;
    margin-right: 8px;
    margin-top: 3px;
}

.plan-info--body ul li p{
    font-size: .8rem;
    color: #666;
}

.currency-style{
   font-size: .875rem;
}

.checkout-subtotal-price {
    margin: 20px 0 0;
    padding: 2px 18px 8px ;
    border-bottom: 1px solid #dfdfdf;
    display:none;
}
.checkout-subtotal-price.open{
    display:block;
}
.subtotal-price-list{
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
.subtotal-price-list.fw-600{
    font-weight: 600;
}
.subtotal-price-list.fw-600 span{
    font-size: 1.01rem;
}
.subtotal-price-list span{
    width: 65%;
}
.subtotal-price-list span:last-of-type{
    width: 35%;
    text-align: right;
}
.subtotal-price-list span{
    font-size: .83rem;
}

.checkout-btns-text{
    padding: 20px 18px 0 ;
}

.checkout-btns-text p{
    font-size: .725rem;
    margin: 15px 0 0;
    line-height: 1.3;
    color: #6d7175;
 }

.checkout-button{
    width: 100%;
    padding: 13px 20px;
    justify-content: center;
    margin: 5px 0;
    font-weight: 300;
    font-size: .95rem;
    color: #fff;
    display: none;
    border-radius: 3px;
    cursor: pointer;
}

.checkout-button.open{
   display: flex;
}

.checkout-button.no-click{
     cursor:not-allowed;
     background-color: #ededed;
     color: #ccc;
     width: calc(100% - 40px);
}
.checkout-button.gateway img{
    width: 19px;
    width: 19px;
    position: relative;
    top: 1px;
    margin-right: 8px;
 }




/* ---- PLANO -----*/


 .warning-banner{
    padding: 18px;
    border-radius: 8px;
    background-color: #EBF9FC;
    color: #202223;
    margin-bottom: 20px;
    border: 1px solid #98c6cd;
 }

 .warning-banner ion-icon{
     font-size: 1.6rem;
     color: #00A0AC;
 }

 .warning-banner p{
    font-size: .8rem;
    margin-left: 10px;
    padding-top: 2px;
}

.warning-banner p a{
    text-decoration: underline;
}

.warning-banner p a:hover{
    text-decoration: none;
}

 .pg-title{
    font-weight: 600;
    font-size: 1.23rem;
    margin: 40px auto;
    text-align: center;
 }

.plan-item{
    padding: 35px 25px;
    background-color: #fff;
    border-radius:.5rem;
    box-shadow: 0 0 0 1px #3f3f440d, 0 1px 3px 0 #3f3f4426;
    height: 100%;
    overflow: hidden;
}

.plan-header{
    margin-bottom: 15px;
}

.plan-header h3{
    font-weight: 700;
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 12px;
}
.plan-recomanded{
     position: relative;
     top: -3px;
     padding: 4px 13px 5px;
     border: 1px solid #98c6cd;
}
.plan-header p{
    margin-top: 3px;
    font-size: .8rem;
    line-height: 1.4;
}
.lets-talk{
    margin: 18px 0 15px
}
.lets-talk span svg{
    width:40px;
    height: 40px;
    color:#444
}
.lets-talk h3{
    font-size:1.62rem;
    padding-left:8px;
}

.price-body .currency-style{
    font-size: .8rem;
    position: relative;
    top: -2px;
    margin-right: 3px;
}
.plan-price{
    margin-bottom: 18px;
}
.flex-c-hort {
    justify-content: normal !important;
}

.price-number{
    font-size: 1.8rem;
    font-weight: 700;
    color:#4b4b4b;
}
.price-by{
    position: relative;
    top: 16px;
    font-size: .82rem;
}
.plan-span--text{
    font-size: .785rem;
    color: #999;
}
.plan-promotional-price {
    display: inline-block;
    color: #999;
    font-size: .8rem;
    white-space: nowrap;
    text-decoration: line-through;
}

.plan-promotional-mark {
    display: inline-block;
    padding: 3px 10px;
    margin-left: 1px;
    border-radius: 3px;
    background: #fff1f1;
    color: #ff4747;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    font-size: .7rem;
    font-weight: 600;
}

.plan-button {
    display: inline-block;
    margin: 5px 0 10px;
    text-align: center;
    color: #fff;
    font-size: .875rem;
    font-weight: 300;
    width: 100%;
    border-radius: 3px;
    border: 0;
    padding: 10px 0 11px;
    transition: .10s ease-in-out;
    background: #222;
    cursor: pointer;
}

.plan-button:hover{
    transform: scale(1.03);
}  
.plan-button.whatsapp{
   border:1px solid #666;
   background:transparent;
   color:#333;
   padding: 8px 0 9px;
}

.whatsapp ion-icon{
    position: relative;
    top:3px;
    font-size:18px;
    color:#007b5c;
}
.whatsapp span{
    font-weight: 300;
    padding-left:8px;
}
.plan-button.recommended {
    background: #fff;
    border: 1px solid #3b82ff;
    color: #3b82ff;
}
.plan-resources{
    border-top: 1px solid #ddd;
    margin: 20px -25px;
    padding:20px 25px 0;
}

.plan-resources h3{
  font-weight: 700;
  text-transform: capitalize;
  font-size: .85rem;
  color: #222;
  margin-bottom: 15px
}

.plan-resources ul{
    margin: 5px 0;
}

.plan-resources ul li {
   margin-bottom: 12px;
}

.plan-resources ul li .check-icons{
   position: relative;
   width: 12px;
   top: 1px;
   height: 12px;
   margin-right: 10px;
   background-image: url(../img/check-black.svg);
   background-repeat: no-repeat;
}
.plan-resources ul li .check-icons-no{
    position: relative;
    width: 12px;
    top: 1px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../img/no.svg);
    background-repeat: no-repeat; 
 }

 
.plan-resources ul li span:last-of-type{
    font-size: .88rem;
    color: #444;
}

.plan-resources ul li span.no-check{
    color: #7086A6;
    text-decoration: line-through;
}

.all-plan-resources{
    margin:15px 0 30px 0;
    padding: 25px;
    background-color: #fff;
    width: calc(100%);
    border-radius:.5rem;
    overflow: hidden;
    box-shadow: 0 0 0 1px #3f3f440d, 0 1px 3px 0 #3f3f4426; 
}
.all-plan-resources h3{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 25px;
    width: 100%;
}
.all-plan-resources .first-column{
    width: 100%;
}

.all-plan-resources ul {
    display: flex;
    flex-wrap: wrap;
}
.all-plan-resources .first-column ul li{
    width: 33.3333%;
    padding-right: 10px;
    margin-bottom: 10px;
    flex-wrap: nowrap !important;
}

.all-plan-resources ul li > span ion-icon {
    font-size: 20px;
    position: relative;
    top: 1px;
    margin-right: 5px;
    color: #007b5c;
}
.all-plan-resources ul li div span{
    font-size: .85rem;
    color: #111;
    font-weight: 100;
}
.all-plan-resources ul li div p{
    font-size: .72rem;
    color: #858585;
    margin-top: 5px;
    line-height: 1.4;
}

.all-plan-resources .third-column{
  margin: 20px -25px;
  border-top: 1px solid #ddd;
  padding: 25px;
}
.all-plan-resources .third-column ul li {
    width: 33.333%;
    flex-wrap: nowrap;
    padding-right: 10px;
}

.avaliation{
    background-color: #fff;
    box-shadow: 0 0 0.3125rem #1718180d, 0 0.0625rem 0.125rem #00000026;
    border-radius: .35rem;
    padding:2.5rem 1.9rem;
    margin-bottom: 30px;
    width: calc( 100% - 50px);
    margin: 50px 25px;
    text-align: center;
}


.avaliation-icon{
    padding: 5px 0 ;
}
.avaliation-icon ion-icon {
   font-size: 74px;
   color: #F3AD00;
}

.avaliation h3{
    font-size: 1.0625rem;
    font-weight: 600;
    margin-bottom: 7px;
    
}

.avaliation > p{
    font-size: .8125rem;
    color: #111;
    line-height: 1.4;
    font-weight: 100;
    
    /*padding: 2px 0px; 
    margin: 0 45px;
    width: calc(100% - 90px);*/
 }
 .avaliation > p a{
    color: #2c6ecb;
    text-decoration: underline;
 }

 .avaliation > p a:hover{
    color: #1f5199;
    text-decoration: none;
 }
 .avaliation-plan{
     margin: 35px 45px 15px;
     padding: 16px 18px 18px;
     width: calc(100% - 90px);
     justify-content: space-between;
     border-radius: 5px;
     border:1px solid #dedede
 }
.avaliation-plan.plan-warn{
    background-color: #FEF7EA;
    border:2px solid  #FADEAF;
}
.avaliation-plan.plan-warn:hover{
    background-color: #FADEAF;
    border:2px solid  #888;
}
 .avaliation-plan:hover{
    background-color: #f8f8f8;
    border-color: #0c78c5;
 }

.avaliation-plan strong{
    font-weight: 700;
    margin-bottom: 6px;
    color: #222;
    font-size: .9rem;
}
 .avaliation-plan--text{
    text-align: left;
 }
 .avaliation-plan--text p{
    font-size: .84rem;
    color: #111;
    font-weight: 100;
 }
 .avaliation-plan ion-icon{
    font-size: 20px;
 }

 .avaliation-icon img{
    width: 50px;
 }

 .warning-icon {
     width: 55px;
     height: 55px;
     margin-right: 10px;
     background: #EF9400;
     box-shadow: 0 0 0 #656565;
     border-radius: 13px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .warning-icon ion-icon{
    font-size: 40px;
    color: #fff;
 }

 .warning-icon.circle{
    border-radius: 50%;
 }
.more-info{
    text-align: center;
    font-size: .83rem;
    color: #333;
}
.more-info a{
    text-decoration: underline;
}
.more-info a:hover{
    text-decoration: none;
}



@media ( max-width:1068px)
{
  .user-menu{
    left: -85%;
  }
  .fc--second-header {
      padding: 20px;
  }
}
@media ( max-width:768px)
{
 .w-65.pd-rigth-30, .w-35{
    width: 100%;
    padding-right: 0;
    padding: 20px;
 }

 .fc--main-header > .flex-c-vert {
      padding: 0 10px;
      
  }

  .fc--second-header{
      padding: 20px 15px;
  }
  
  .all-plan-resources .first-column ul li, .all-plan-resources .third-column ul li {
      width: 50%;
  }
}
@media ( max-width:468px)
{
.w-65.pd-rigth-30, .w-35{
   padding: 10px;
}
.payment-types label {
     flex-wrap: nowrap;
}
.fc--main-header > .flex-c-vert {
  padding: 0 0px;
  flex-direction: column;
}
  .user-menu {
      left: -37%;
  }
  .user-info{
      margin-top: 15px;
  }
 .warning-banner{
    flex-wrap: nowrap;
    padding: 10px !important;
  }
  .all-plan-resources .first-column ul li,   .all-plan-resources .third-column ul li {
      width: 100%;
      margin-bottom:20px
  }
}


@media (max-width:400px){
    .fc--second-header h2 {
        font-size: 1.002rem;
    }
    .payment-types--text span{
        margin-bottom: 10px;
        display: inline-block;
    }
    .payment-types--text small{
        position: relative;
        top: 5px;
    }
}